# Analyzing Unicorn Companies

##  SQL DataCamp project
### By Erick Martinez Sevilla

Did you know that the average return from investing in stocks is [10% per year](https://www.nerdwallet.com/article/investing/average-stock-market-return) (not accounting for inflation)? But who wants to be average?! 

You have been asked to support an investment firm by analyzing trends in high-growth companies. They are interested in understanding which industries are producing the highest valuations and the rate at which new high-value companies are emerging. Providing them with this information gives them a competitive insight as to industry trends and how they should structure their portfolio looking forward.

You have been given access to their `unicorns` database, which contains the following tables:

## dates
| Column       | Description                                  |
|------------- |--------------------------------------------- |
| `company_id`   | A unique ID for the company.                 |
| `date_joined` | The date that the company became a unicorn.  |
| `year_founded` | The year that the company was founded.       |

## funding
| Column           | Description                                  |
|----------------- |--------------------------------------------- |
| `company_id`       | A unique ID for the company.                 |
| `valuation`        | Company value in US dollars.                 |
| `funding`          | The amount of funding raised in US dollars.  |
| `select_investors` | A list of key investors in the company.      |

## industries
| Column       | Description                                  |
|------------- |--------------------------------------------- |
| `company_id`   | A unique ID for the company.                 |
| `industry`     | The industry that the company operates in.   |

## companies
| Column       | Description                                       |
|------------- |-------------------------------------------------- |
| `company_id`   | A unique ID for the company.                      |
| `company`      | The name of the company.                          |
| `city`         | The city where the company is headquartered.      |
| `country`      | The country where the company is headquartered.   |
| `continent`    | The continent where the company is headquartered. |

# Query DF

In [4]:
WITH top AS (
	SELECT 
		i.industry,
		COUNT(*) as count
	FROM industries AS i
	INNER JOIN dates as d
		USING(company_id)
	WHERE EXTRACT(year FROM date_joined) IN (2019, 2020, 2021)
	GROUP BY industry
	ORDER BY count DESC
	LIMIT 3
),
val AS (                        -- Second CTE
	SELECT
		i.industry,
		EXTRACT(year FROM d.date_joined) AS year,
		COUNT(*) AS num_unicorns,
		ROUND(AVG(valuation / 1000000000),2) AS average_valuation_billions
	FROM industries AS i
	INNER JOIN dates as d
		USING(company_id)
	INNER JOIN funding AS f
		USING(company_id)
	WHERE EXTRACT(year FROM d.date_joined) IN (2019, 2020, 2021)
	GROUP BY industry, year
)

SELECT
	industry,
	year,
	num_unicorns,
	average_valuation_billions
FROM val 
INNER JOIN top
	USING(industry);

                          industry  ...  average_valuation_billions
0  E-commerce & direct-to-consumer  ...                        2.58
1  E-commerce & direct-to-consumer  ...                        4.00
2  E-commerce & direct-to-consumer  ...                        2.47
3                          Fintech  ...                        6.80
4                          Fintech  ...                        4.33
5                          Fintech  ...                        2.75
6     Internet software & services  ...                        4.23
7     Internet software & services  ...                        4.35
8     Internet software & services  ...                        2.15

[9 rows x 4 columns]

## Conclusion 

It can be seen that out of the top 3 best performing industries (Industries with the largest number of unicorn companies bewteen 2019-2021), fintech has the highest average valuations of the unicorn companies. Therefore, it can be concluded by extrapolating that the investment firm should structure their portfolio with a higher number of fintech stocks in the future.